{{#partial "contenido"}}
{{#with busqueda}}
	
	<h1><u>Consulta</u></h1>
	
	<button data-toggle="collapse" data-target="#datos">Informacion</button>
	<div id="datos" class="row collapse">
				<form action="/admin/consultas/resultados" method="GET">
					<div class="jumbotron">
							<div class="form-group">
								<label> Terminal: </label> {{nombreTerminal}} (id. {{idTerminal}})
							</div>
							<div class="form-group">
								<label> ID Consulta: </label> {{id}}
							</div>
							<div class="form-group">
								<label> Frase Buscada: </label> {{fraseBuscada}}
							</div>
							<div class="form-group">
								<label> Fecha: </label> {{fecha}}
							</div>
							<div class="form-group">
								<label> Tiempo Busqueda: </label> {{tiempoBusqueda}}
							</div>
							<div class="form-group">
								<label> Cantidad Resultados: </label> {{cantidadResultados}}
							</div>
					</div>
				</form>
	</div>	

	<h3><u>Resultados</u></h3>
	<table class="table table-stripped">
		<thead>
			<tr>
        		<th>Nombre</th>
        		<th>Direccion</th>
      		</tr>
		</thead>
	 	{{#each busqueda.resultados}}
			<tbody>
			<tr>
				<td> {{nombre}} </td>
				<td> {{direccion.calle}} {{direccion.numero}}</td>
				<td>
					<a href="/terminal/detalles?id={{id}}" data-target="#detallesPOI" data-toggle="modal">Detalles<span class="glyphicon glyphicon-triangle-bottom"></span></a>
				<div class="modal fade" id="detallesPOI" role="dialog">
 				    <div class="modal-dialog">
 			    	<div class="modal-content" >
 			    </div>
				</td>
			
			</tr>
		{{/each}}
		</tbody>
</table>
{{/with}}
{{/partial}}
	
{{>layoutAdmin.hbs}}
 <script>
 $('#detallesPOI').on('hidden.bs.modal', function () {
   $(this).removeData('bs.modal');
 });
 </script>
