{{#with detalles}}
<div class="panel panel-default">
	<div class="panel-heading" alin>
		<span class="glyphicon glyphicon-globe"></span>{{nombre}} ({{id}}) </div>
  
	<div class="panel-body">
		<div class="form-group">
			<label> Terminal: </label> {{nombre}}
		</div>
		<div class="form-group">
			<label> ID: </label> {{id}}
		</div>
		<div class="form-group">
			<label> Comuna: </label> {{comuna}}
		</div>
		<div class="form-group">
			<label> Contase&ntilde;a: </label> {{pass}}
		</div>
		<div class="form-group">
			<label>> Historial: </label> 
				{{#if opciones.historial}} Activado
				{{else}} Desactivado
				{{/if}} 
		</div>
		<div class="form-group">
			<label>> Mail: </label> 
				{{#if opciones.mail}} Activado
				{{else}} Desactivado
				{{/if}} 
		</div>

	</div>
	
	<div class="panel-footer text-right">
	 	<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
	</div>
</div>
 
{{/with}}