{{#with detalles}}
<div class="panel panel-default">
	<div class="panel-heading" alin>
		<span class="glyphicon glyphicon-globe"></span>   {{nombre}} ({{direccion.calle}} - {{direccion.numero}})
	</div>
  
	<div class="panel-body">
		<b>Nombre:</b> {{nombre}}<hr>
		<b>Direccion:</b> {{direccion.calle}} {{direccion.numero}}
		{{#if direccion.piso}}
		 - {{direccion.piso}}
		 	{{#if direccion.dpto}}
		 		{{direccion.dpto}}
		 	{{/if}}
		 {{/if}}
		 
		<p> > <u><i>Pais:</u></i> {{direccion.pais}} </p>
		<p> > <u><i>Provincia:</u></i> {{direccion.provincia}} </p>
		<p> > <u><i>Localidad:</u></i> {{direccion.localidad}} </p>
		<p> > <u><i>Barrio:</u></i> {{direccion.barrio}} </p> <hr>
		<b>Codigo Postal:</b> {{direccion.codigoPostal}}<hr>
		<b>Coordenadas:</b> ( {{direccion.latitud}}, {{direccion.longitud}}) <hr>
				
	</div>
	
	<div class="panel-footer text-right">
	 	<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
	</div>
</div>
 
{{/with}}